.content {
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    background-color: lavender;
    border-radius: 5px;
}
input {
    margin: 10px;
    padding: 6px;
    border: 1px solid lightsteelblue;
    border-radius: 4px;
}
h1, p {
    font-family: sans-serif;
    color: darkslategray;
    margin: 1em;
}
img {
    width: 100%;
}
.bold-span {
    font-weight: bold;
}
button {
    width: 50px;
    padding: 7px;
    background-color: lightsteelblue;
    color: darkslategray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkslategray;
    color: white;
}
.weather-BW-img {
    position: relative;
    opacity: 0.3;
    z-index: 0;
}
.weather-wrapper {
    position: absolute;
    top: 2.5em;
}
.weather-container {
    position: relative;
    width: 70%;
    height: 18em;
    padding: 0.6em;
    margin: 1em auto;
    border-radius: 10px;
    background-color: lightsteelblue;
    z-index: 1;
}
.weather {
    position: absolute;
    width: 53%;
}
.weather div {
    display: inline-block;
    font-family: sans-serif;
    width: 20%;
    line-height: 1em;
    vertical-align: middle;
    margin: 0 0.5em;
    color: darkslategray;
}
.close {
    position: relative;
    float: right;
    width: 1em;
    cursor: pointer;
    font-family: sans-serif;
    color: lavender;
    z-index: 1;
}
.close:hover {
    color: darkslategrey;
}
.colors {
    position: absolute;
    top: 4%;
    width: 8em;
    right: 2.6em;
}
.colors div {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid lightsteelblue;
}
@media (max-width: 450px) {
    h1 {
        font-size: 1.8em;
    }
    .weather div {
        width: 80%;
        height: auto;
        line-height: 4em;
    }
    img {
        width: 80%;
    }
}
@media (min-width: 450px) and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    .weather-container {
        height: 5em;
    }
    .weather {
        width: 55%;
        height: 5em;
        line-height: 5em;
    }
    .colors {
        right: 4.4em;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    h1 {
        font-size: 2.5em;
    }
    .weather-container {
        height: 8em;
    }
    .weather {
        width: 55%;
        height: 8em;
        line-height: 8em;
    }
    .colors {
        right: 7.4em;
    }
}
@media (min-width: 1200px) {
    .content {
        width: 935px;
        height: 25em;
    }
    .weather-wrapper {
        top: 4em;
        width: 58em;
    }
    .weather-container {
        height: 9em;
    }
    .weather {
        width: 650px;
        height: 9em;
        line-height: 9em;
    }
    .weather div {
        width: 30%;
    }
    img {
        width: 70%;
    }
    .colors {
        position: relative;
        left: 813px;
        top: -385px;
    }
    .weather-BW-img {
        width: 500px;
        left: -2em;
    }
}
