<div class="content" [color-spectrum]="color">
    <div class="colors">
        <div (click)="color='#ffd4e3'" [ngStyle]="{'background-color': '#ffd4e3'}"></div>
        <div (click)="color='#d7d7fc'" [ngStyle]="{'background-color': '#d7d7fc'}"></div>
        <div (click)="color='#fffad1'" [ngStyle]="{'background-color': '#fffad1'}"></div>
        <div (click)="color='#dcffdc'" [ngStyle]="{'background-color': '#dcffdc'}"></div>
        <div (click)="color='#e6e6fa'" [ngStyle]="{'background-color': '#e6e6fa'}"></div>
    </div>
    <div>
        <h1>{{title}}</h1>
        <input [(ngModel)]='input' (ngModelChange)='changeInput($event)' [value]="inputValue" type="text" name="search" value="" placeholder="your location..."/>
        <button (click)='getWeather(input)' type="button">Show</button>
        <p>Weather in
            <span class='bold-span'>{{input}}</span>
        </p>

        <div *ngIf='weather' class="weather-container">
            <div (click)='closeWeather()' class="close">X</div>
            <div class="weather">
                <div>{{input}}</div>
                <div>{{temp}} <span>°C</span></div>
                <div>
                    <img [src]="weatherImag" alt="weather_img">
                </div>
            </div>
            <button (click)='getForecast()' type="button" name="forecastButton">{{forecustButton}}</button>
        </div>

        <div *ngIf='showForecast' class="weather-forecast">
            <div class="weather-forecast__row-content">
                <div *ngFor='let fDay of fDays' class="weather-forecast__row">
                    <span>{{fDay.date}}</span>
                    <span>{{fDay.temp}}<span>°C</span></span>
                    <img [src]='fDay.icon'>
                </div>
            </div>
        </div>
    </div>

</div>
