.content {
    width: 80%;
    margin: 2em auto;
    padding: 1em 1em 2em 1em;
    text-align: center;
    background-color: lavender;
    border-radius: 5px;
}
input {
    margin: 10px;
    padding: 6px;
    border: 1px solid lightsteelblue;
    border-radius: 4px;
}
h1, p {
    font-family: sans-serif;
    color: darkslategray;
    margin: 1em;
}
img {
    width: 100%;
}
.bold-span {
    font-weight: bold;
}
.notification-span {
    color: mediumvioletred;
}
button {
    width: 50px;
    padding: 7px;
    background-color: lightsteelblue;
    color: darkslategray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkslategray;
    color: white;
}
.weather-container button {
    width: 100px;
    height: 50px;
    position: relative;
    top: -12px;
    border: 1px solid white;
}
.weather-container {
    position: relative;
    width: 70%;
    height: 18em;
    padding: 0.6em;
    margin: 1em auto;
    border-radius: 10px;
    background-color: lightsteelblue;
    z-index: 1;
}
.weather {
    width: 100%;
}
.weather div {
    display: inline-block;
    font-family: sans-serif;
    word-wrap: break-word;
    width: 25%;
    line-height: 1em;
    vertical-align: middle;
    margin: 0 0.5em;
    color: darkslategray;
}
.weather img {
    width: 70%;
}
.weather-forecast {
    background-color: lightsteelblue;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}
.weather-forecast__row {
    width: 100%;
    margin: 0 auto;
}
.weather-forecast__row:nth-of-type(1) {
    padding-top: 20px;
}
.weather-forecast__row span {
    padding: 0 0.8em;
}
.weather-forecast img {
    width: 10%;
    vertical-align: middle;
}
.close {
    position: relative;
    float: right;
    width: 1em;
    cursor: pointer;
    font-family: sans-serif;
    color: lavender;
    z-index: 1;
}
.close:hover {
    color: darkslategrey;
}
.colors {
    position: absolute;
    top: 4%;
    width: 8em;
    right: 2.6em;
}
.colors div {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid lightsteelblue;
}
@media (max-width: 450px) {
    h1 {
        font-size: 1.8em;
    }
    .weather div {
        width: 80%;
        height: auto;
        line-height: 4em;
    }
    img {
        width: 80%;
    }
}
@media (min-width: 450px) and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    .weather-container {
        height: 5em;
    }
    .weather {
        width: 92%;
        height: 5em;
        line-height: 5em;
    }
    .weather-forecast {
        width: 60%;
    }
    .colors {
        right: 4.4em;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    h1 {
        font-size: 2.5em;
    }
    .weather-container {
        height: 8em;
    }
    .weather {
        width: 95%;
        height: 8em;
        line-height: 8em;
    }
    .weather-forecast {
        width: 56%;
    }
    .weather-forecast__row span {
        padding: 0 1.5em;
    }
    .colors {
        right: 7.4em;
    }
}
@media (min-width: 1200px) {
    .content {
        width: 935px;
    }
    .weather-container {
        height: 9em;
    }
    .weather {
        width: 650px;
        height: 9em;
        line-height: 9em;
    }
    .weather div {
        width: 28%;
    }
    .weather-forecast {
        width: 50%;
    }
    .weather-forecast__row span {
        padding: 0 30px;
    }
    .colors {
        position: relative;
        left: 805px;
        top: 0;
    }
}
